# Core Dependencies
kivy==2.3.0
python-dotenv==1.0.1
python-decouple==3.8
numpy==2.1.1

# Audio & Speech
pyttsx3==2.90
SpeechRecognition==3.10.0
gTTS==2.5.3
sounddevice==0.4.6
pydub==0.25.1

# Input & Control
keyboard==0.13.5
PyAutoGUI==0.9.54

# API & Web Services
requests==2.32.3
google-generativeai==0.7.2
wolframalpha==5.0.0
wikipedia==1.4.0
IMDbPY==2022.7.9
pywhatkit==5.4

# Networking & Email
aiohttp==3.10.5
aiohappyeyeballs==2.4.0

# Utilities
pillow==10.4.0
tqdm==4.66.5

# Optional Dependencies (for development)
watchdog==5.0.3

# New dependencies
pycaw==20181226
screen-brightness-control==0.14.1
comtypes==1.1.14
